body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: rgb(187, 19, 19);
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Major Mono Display', 'Times New Roman', Times, serif;
    font-weight: 10;
    line-height: 40px;
    size: 40px;
}

#bold {
    font-weight: bold;
}

#search-movies {
    background-color: rgb(187, 19, 19);
}

input {
    height: 20px;
    background-color: rgb(177, 41, 41);
    color: white
}

::placeholder {
    color: white;
    opacity: 1;
}

nav {
    background-color: #bd3333;
    padding: 5px;
}

.nav-bar{
    background-color: red;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-list {
    background-color: #D72424;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

section h2 {
    margin-bottom: 10px;
}