body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: #A40505;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Major Mono Display', 'Times New Roman', Times, serif;
    font-weight: lighter;
    line-height: 40px;
    size: 40px;
}

#s {
    font-weight: bold;
}

#search-movies {
    background-color: #A40505;
}

input {
    height: 20px;
    background-color: #832020;
    color: white;
    border-radius: 10px;
    border-color: black;
}

::placeholder {
    color: white;
    opacity: 1;
}


.nav-bar{
    background-color: red;
}

#search-btn{
    background-color: rgb(240, 81, 81);
    border-radius: 5px;
    border-color: black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-list {
    background-color: #D72424;
    padding: 15px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

section h2 {
    margin-bottom: 10px;
}

html{
    background-image: linear-gradient(red, black);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

body{
    color: white;
}


/* FRAME */

position: absolute;
width: 925px;
height: 1112px;



/* Frame 1 */

position: absolute;
visibility: hidden;
width: 922px;
height: 1117px;

background: #FFFFFF;


/* Background Gradient */

position: absolute;
width: 925px;
height: 1112px;

background: linear-gradient(180deg, #A50000 0%, rgba(0, 0, 0, 0) 100%);


/* Top 10 section */

position: absolute;
width: 884px;
height: 262px;



/* Top 10 2023 */

position: absolute;
width: 296px;
height: 41px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 39.1091px;
line-height: 47px;

color: #FFFFFF;

text-shadow: 0px 4.34545px 4.34545px rgba(0, 0, 0, 0.25);


/* movie 1 */

position: absolute;
width: 155px;
height: 204px;

background: #D9D9D9;
box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);


/* movie 2 */

position: absolute;
width: 155px;
height: 204px;

background: #D9D9D9;
box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);


/* movie 3 */

position: absolute;
width: 155px;
height: 204px;

background: #D9D9D9;
box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);


/* movie 4 */

position: absolute;
width: 155px;
height: 204px;

background: #D9D9D9;
box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);


/* movie 5 */

position: absolute;
width: 155px;
height: 204px;

background: #D9D9D9;
box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);


/* movie 6 */

position: absolute;
width: 54px;
height: 204px;

background: #D9D9D9;
box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);


/* Popular section */

position: absolute;
width: 884px;
height: 260px;



/* Popular */

position: absolute;
width: 220px;
height: 37px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* movie 1 */

position: absolute;
width: 155px;
height: 204px;

background: #D9D9D9;
box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);


/* movie 2 */

position: absolute;
width: 155px;
height: 204px;

background: #D9D9D9;
box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);


/* movie 3 */

position: absolute;
width: 155px;
height: 204px;

background: #D9D9D9;
box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);


/* movie 4 */

position: absolute;
width: 155px;
height: 204px;

background: #D9D9D9;
box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);


/* movie 5 */

position: absolute;
width: 155px;
height: 204px;

background: #D9D9D9;
box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);


/* movie 6 */

position: absolute;
width: 54px;
height: 204px;

background: #D9D9D9;
box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.25);


/* Youtube player  */

position: absolute;
width: 401px;
height: 217px;

filter: drop-shadow(5px 8px 4px rgba(0, 0, 0, 0.25));


/* Player rectangle */

position: absolute;
width: 401px;
height: 217px;

background: #D9D9D9;


/* Youtube player image */

position: absolute;
width: 401px;
height: 217px;

background: url(image.png);


/* Hero text info */

position: absolute;
width: 381px;
height: 269px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* “MOVIE NAME” */

position: absolute;
width: 306px;
height: 138px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;

color: #FFFFFF;



/* Description box ksjdkajsjdaksjdjakskdjajksjdlasjdkajsdkasjdajdkajlsdksjdkaldjalksjdajldajsd */

position: absolute;
width: 381px;
height: 151px;

font-family: 'Inter';
font-style: italic;
font-weight: 300;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* Netflix original */

position: absolute;
width: 148px;
height: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #FFFFFF;



/* genre */

position: absolute;
width: 83px;
height: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #FFFFFF;



/* 2023 */

position: absolute;
width: 95px;
height: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #FFFFFF;



/* IMDB LOGO */

position: absolute;
width: 106px;
height: 28px;



/* Star 1 */

position: absolute;
width: 16px;
height: 14px;

background: #FFFFFF;


/* 9.3 */

position: absolute;
width: 40px;
height: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 10px;

color: #FFFFFF;



/* Rectangle 6 */

position: absolute;
width: 44px;
height: 26px;

background: #FFE600;


/* IMDB */

position: absolute;
width: 44px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #000000;



/* Header Elements */

position: absolute;
width: 925px;
height: 140px;



/* main */

position: absolute;
width: 925px;
height: 140px;

background: #A40505;


/* Navbar */

position: absolute;
width: 925px;
height: 39px;



/* Navbar */

position: absolute;
width: 925px;
height: 39px;

background: #D72424;


/* Navbar text */

position: absolute;
width: 481px;
height: 33px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Home */

position: absolute;
width: 164.12px;
height: 26.52px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Popular */

position: absolute;
width: 169.03px;
height: 33px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Genre */

position: absolute;
width: 132.81px;
height: 33px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Search box */

position: absolute;
width: 254px;
height: 26px;

background: #555555;
mix-blend-mode: overlay;
box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);


/* ............ */

position: absolute;
width: 254px;
height: 27px;

font-family: 'Inter';
font-style: italic;
font-weight: 900;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* Profile pic */

position: absolute;
width: 40px;
height: 34px;

background: #FFFFFF;
opacity: 0.35;


/* Shelfmovies */

position: absolute;
width: 346px;
height: 82px;

font-family: 'Major Mono Display';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
